<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">

    <style>
        body {
            height: 100vh;
            margin: 0;
            overflow: auto;
            position: relative;
            z-index: 1;
        }

        #my-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    </style>

    <title>My Collection</title>
</head>
<body>
    <div id="my-background"></div>
    
    <div class="nav3 flex justify-between items-center py-4 px-8 bg-blue-900 text-white">
        <h1 class="text-2xl font-bold">L.F.G.</h1>
        <a href="/dashboard" class="dashboard button bg-red-500 hover:bg-red-600">Dashboard</a>
    </div>
    <div class="title text-center text-3xl text-white font-bold mt-8">My Games</div>
    <div class="content mx-auto max-w-2xl bg-gray-300 p-8 rounded border-2 border-black mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for game in user.games %}
        <div class="card bg-white rounded border border-black p-3">
            <img src="{{ url_for('static', filename='uploads/' + game.game_image) }}" alt="Game in the collection" class="w-full" >
            <div class="card-body">
                <h5 class="card-title text-lg text-red-700 font-bold">Name of Game: {{ game.game_name }}</h5>
                <h5 class="card-text text-lg text-green-600 font-bold">Type of Game: {{ game.game_type }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-lg text-blue-600 font-bold">Description: {{ game.game_description }}</li>
            </ul>
            <div class="card-body mt-2 mb-2 flex justify-center space-x-3">
                <a href="/edit/game/{{ game.id }}" class="card-link button bg-green-500 hover:bg-green-600">Edit Details</a>
                <a href="/delete/game/{{ game.id }}" class="card-link button bg-yellow-500 hover:bg-yellow-600">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>
    <script>
        VANTA.WAVES('#my-background')
    </script>

</body>
</html>