<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Looking for GameNight</title>
</head>
<body id ="my-background">
    <div class="container bg-gray-300 mx-auto rounded-lg border-2 border-black max-w-screen-md main-container">
        <div class="bg-blue-400 text-white py-4 px-8 rounded">
            <div class="container mx-auto max-w-screen-lg">
                <div class="flex justify-between items-center">
                    <a href="/register" class="mr-4">Register</a>
                    <h1 class="text-4xl font-bold text-white">L.F.G</h1>
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center mt-8">
            <h2 class="text-2xl font-semibold">Looking For GameNight</h2>
            <h3 class="text-gray-600 mt-2">Game On: Connect, Compete, and Conquer Together!</>
        </div>

        <div class="flex justify-center mt-8">
            <img src="{{ url_for('static', filename='img/bmo.gif') }}" class="max-w-full p-10 mb-24">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>
    <script>
        VANTA.WAVES('#my-background')
    </script>
</body>
</html>
