<!-- This is the page to show past game nights the user went to... might need to update some stuff here!

    This is a note for V2 version: V3 will implent a way to rate the game nights you went to, and will show the ratings here. -->
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Past Gamenights</title>
</head>
<body>
    <div class="nav5">
        <h1>Past Game Nights</h1>
        <button class="dashboard">Dashboard</button>
    </div>
</body>
</html> -->