body {
        height: 100vh;
        margin: 0;
        overflow: auto;
        position: relative;
        z-index: 1;
    }

#my-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

.main-container {
    position: relative;
    top: 50px;
}

.white-box {
    background-color: white;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.host-link {
    color: red;
    text-decoration: none;
}

.host-link:hover {
    color: green;
}